{%- if login == "sddm" %}
  services.displayManager.sddm.enable = true;
  services.displayManager.sddm.wayland.enable = true;
{%- elif login == "gdm" %}
  services.displayManager.gdm.enable = true;
{%- elif login == "plasma-login-manager" %}
  services.displayManager.plasma-login-manager.enable = true;
{%- elif login == "cosmic-greeter" %}
  services.displayManager.cosmic-greeter.enable = true;
{%- endif %}
