  networking.hostName = "{{ network.hostname | nix }}";
{%- if network.host_id %}
  networking.hostId = "{{ network.host_id | nix }}";
{%- endif %}
{%- if network.backend == "network-manager" %}
  networking.networkmanager.enable = true;
{%- elif network.backend == "systemd-networkd" %}
  networking.useNetworkd = true;
  networking.useDHCP = lib.mkDefault true;
{%- endif %}
